git+https://github.com/lucasb-eyer/pydensecrf.git
einops
imageio
imgaug
git+https://github.com/cocodataset/panopticapi.git
onnxruntime-gpu
pytorch-lightning
albumentations==1.1.0
huggingface_hub
omegaconf
diffusers
accelerate
matplotlib
scipy

basicsr
numba
imgaug
moviepy
# ?Pending
flask
h5py

# For Web UI
gradio
